<!-- <p>applicant works!</p> -->



<br><br><br><br> 
<h3 style="color:orange; font-weight:bold" align="center">
   Employer/Job Applicant
</h3><br>
<div class="container " align="center" >

  
  
  <div class="row" >
     <div class="col-sm-6" align="center" >
       <div class="card" style="background-color:rgb(41, 29, 85)">
         <div class="card-body">
           <h5 class="card-title" style="color:orange; font-weight:bold"  >Employer/company  </h5>
           <p class="card-text" style="color:rgb(255, 255, 255); font-weight:bold">Looking for a qualified employee. <br> Browse though available job seeker applicants <br> and  pick your choice</p>
           <button class="btn btn-outline-light" style="background-color: orange"  type="submit">Create Profile</button>

         </div>
       </div>
     </div>
     <div class="col-sm-6" align="center">
       <div class="card" style="background-color:rgb(41, 29, 85)">
         <div class="card-body">
           <h5 class="card-title" style="color:orange; font-weight:bold" >Applicant/Job Seeker</h5>
           <p class="card-text" style="color:rgb(255, 255, 255); font-weight:bold">Want a job? Optimal hires got you!. <br> Simply create a profile and upload your resume and <br> leave for employers to review and get back to you!</p>
           <button class="btn btn-outline-light" style="background-color: orange"  type="submit">Create Profile</button>

         </div>
       </div>
     </div>
   </div>
</div><br><br><br>


<div class="container" align="center">
    <div class="col-sm-8" align="center" >
       <div class="card" style="background-color:rgb(41, 29, 85)">
         <div class="card-body">
           <h1 class="card-title" style="color:orange; font-weight:strong"  >Get started With Optimal  Hires  </h1>
           <br>
           <div class="font" font-size="50em" >
             <p class="card-text" style="color:rgb(255, 255, 255); ">Subscribe and find-super attarctive   <br> employers or employees of your choice. <br> Find your career path soon. </p>
 
           </div>
           <br>
           <button class="btn btn-outline-light" style="background-color: orange"  type="submit">Get Started</button>
    
         </div>
       </div>
     </div>
 </div>
 
 <br><br>
 
