
<div class="category" >
    <h2>Categories</h2>

    <ul *ngFor ="let category of categories" style="border: 2px solid rgb(151, 50, 67);border-radius:20px;box-shadow: 2px 2px 2px 2px grey;height: 200px;width: 400px;padding-top: 5%;">
       
        <li >
            {{category.CategoryId}}
        </li>
        <li >
            {{category.name}}
        </li>
        
        
    </ul>
</div>




<div class="container carousel slide carousel-multi-item" data-ride="carousel" id="variety">
    <div class="controls-top "> 
      <h3 style="color:orange; font-weight:bold" align="center">
         
         <app-category></app-category>
      </h3>
    </div>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="col-md-4">
          <div class="card mb-2">
            <!-- <img class="card-img-top" src="" alt="Card image cap"> -->
            <div class="card-body">
              <!-- <h5 class="card-title">Italian Made</h5> -->
            </div>
          </div>
        </div>
  
        
  </div><br><br>
 