<app-navbar></app-navbar>
<!-- <app-employers></app-employers>
<app-jobs></app-jobs>
<app-jobseekers></app-jobseekers> -->


<!-- about section -->
<br><br><div id="about" class="about">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 col-lg-7">
             <div class="about_box">
                
                <br><br><h3>We will help you find <br>Your perfect <br>employee or employer</h3><br><br>
                <p>Every dream job starts with passion and every company start with a dream of a perfect employee.<br> Here we are helping you get your dream employer or employee</p>
                
                
             </div>

          </div>
          <div class="col-md-12 col-lg-5">
             <div class="about_img">
                <figure><img src="https://images.unsplash.com/photo-1472772224448-b24d00409675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJsYWNrJTIwcGVvcGxlJTIwYXQlMjB3b3JrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="#" /></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- about section -->


 <br><br><br><br> <div class="row">
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Employer/company  </h5>
         <p class="card-text">Looking for a qualified employee. Browse though available job seeker applicants and  pick your choice</p>
         <a href="#" class="btn btn-primary">Create Profile</a>
       </div>
     </div>
   </div>
   <div class="col-sm-6">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">Applicant/Job Seeker</h5>
         <p class="card-text">Want a job? Optimal hires got you!. Simply create a profile and upload your resume and leave for employers to review and get back to you!</p>
         <a href="#" class="btn btn-primary">Create Profile</a>
       </div>
     </div>
   </div>
 </div>


 <!-- portfolio -->
 <div class="portfolio">
   <div class="container">
      <div class="row">
         <div class="col-md-12 ">
            <div class="titlepage">
               <h2><strong class="yellow"></strong><br> Job Categories</h2>
               <span>Websites</span>
               <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distrib</p>
            </div>
         </div>
      </div>
   </div>
   <div id="myCarousel" class="carousel slide portfolio_Carousel " data-ride="carousel">
      <ol class="carousel-indicators">
         <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
         <li data-target="#myCarousel" data-slide-to="1"></li>
         <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
         <div class="carousel-item active">
            <div class="container">
               <div class="carousel-caption ">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <figure><img src="https://images.unsplash.com/photo-1472772224448-b24d00409675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJsYWNrJTIwcGVvcGxlJTIwYXQlMjB3b3JrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="#" /></figure>
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8dGVjaG5vbG9neSUyMGltYWdlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf3.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf4.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="carousel-caption">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf1.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf2.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf3.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf4.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="carousel-item">
            <div class="container">
               <div class="carousel-caption">
                  <div class="row">
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf1.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf2.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf3.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-3 col-sm-6">
                        <div class="portfolio_img">
                           <img src="images/potf4.jpg" alt="#" />
                           <div class="middle">
                              <div class="text2">View More</div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-12">
                        <a class="read_more" href="#">Read More</a>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
         <i class="fa fa-chevron-left" aria-hidden="true"></i>
      </a>
      <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
         <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </a>
   </div>
</div>
<!-- end portfolio section -->







<router-outlet></router-outlet>