<app-navbar></app-navbar>
<!-- <app-employers></app-employers>
<app-jobs></app-jobs>
<app-jobseekers></app-jobseekers> -->


<!-- about section -->
<br><br><div id="about" class="about">
    <div class="container-fluid">
       <div class="row">
          <div class="col-md-12 col-lg-7">
             <div class="about_box">
                
                <br><br><h3 style="color:orange; font-weight:bold" align="center">We will help you find <br>Your perfect <br>employee or employer</h3><br><br>
                <p align="center">Every dream job starts with passion and every company start with a dream of a perfect employee.<br> Here we are helping you get your dream employer or employee</p>
                
                
             </div>

          </div>
          <div class="col-md-12 col-lg-5">
             <div class="about_img">
                <figure><img src="https://images.unsplash.com/photo-1472772224448-b24d00409675?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjB8fGJsYWNrJTIwcGVvcGxlJTIwYXQlMjB3b3JrfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" alt="#" /></figure>
             </div>
          </div>
       </div>
    </div>
 </div>
 <!-- about section -->
 <form class="button"align="center" >
    <button class="btn btn-outline-success"style="color:orange; font-weight:bold" type="submit">Search</button>
  </form>
  <br><br><br>

  <h3 style="color:orange; font-weight:bold" align="center">
      About Us
  </h3><br>

  <!-- about section -->
  <div id="about" class="about">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12 col-lg-7">
            <div class="about_box">
               <div class="titlepage">
               </div>
               <h4 style="color:orange; font-weight:bold" align="center">We take pride in<br>
                   connecting employers<br>
                    to various job seekers. </h4><br><br><br>
               
               <p align="center">With more than 10 years of experince we bring the best connection<br>
                   rate between employes and various job seekers. Or site holds profiles <br>
                   of best value job applicants. Various companyies and employes can browse through<br>
                    the profiles of many job seekers to find their best choice on a specific job</p>
               
            </div>
         </div>
         <div class="col-md-12 col-lg-5">
            <div class="about_img">
               <figure><img src="https://images.unsplash.com/photo-1637856794303-d864ce316444?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NTd8fGJsYWNrJTIwcGVvcGxlJTIwY29tcHV0ZXJ8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="#"/></figure>
            </div>
         </div>
      </div>
   </div>
</div>
<!-- about section -->

 <br><br><br><br> 
 <div class="container " align="center" >
   
   
   <div class="row" >
      <div class="col-sm-6" align="center" >
        <div class="card" style="background-color:rgb(41, 29, 85)">
          <div class="card-body">
            <h5 class="card-title" style="color:orange; font-weight:bold"  >Employer/company  </h5>
            <p class="card-text" style="color:rgb(255, 255, 255); font-weight:bold">Looking for a qualified employee. <br> Browse though available job seeker applicants <br> and  pick your choice</p>
            <!-- <a href="#" class="btn btn" >Create Profile</a> -->
            <button class="btn btn-outline-success"style="color:orange; font-weight:bold" type="submit">Create Profile</button>

          </div>
        </div>
      </div>
      <div class="col-sm-6" align="center">
        <div class="card" style="background-color:rgb(41, 29, 85)">
          <div class="card-body">
            <h5 class="card-title" style="color:orange; font-weight:bold" >Applicant/Job Seeker</h5>
            <p class="card-text" style="color:rgb(255, 255, 255); font-weight:bold">Want a job? Optimal hires got you!. <br> Simply create a profile and upload your resume and <br> leave for employers to review and get back to you!</p>
            <!-- <a href="#" class="btn btn-primary">Create Profile</a> -->
            <button class="btn btn-outline-success"style="color:orange; font-weight:bold"   type="submit">Create Profile</button>

          </div>
        </div>
      </div>
    </div>
 </div>

 <div class="container carousel slide carousel-multi-item" data-ride="carousel" id="variety">
   <div class="controls-top "> 
     <h2>Featured Items</h2>
   </div>
   <div class="carousel-inner" role="listbox">
     <div class="carousel-item active">
       <div class="col-md-4">
         <div class="card mb-2">
           <img class="card-img-top" src="https://images.unsplash.com/photo-1621905251918-48416bd8575a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmxhY2slMjB3b3JrZXJ8ZW58MHx8MHx8&w=1000&q=80" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Italian Made</h5>
           </div>
         </div>
       </div>
 
       <div class="col-md-4">
         <div class="card mb-2">
           <img class="card-img-top" src="https://images.unsplash.com/photo-1621905251918-48416bd8575a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmxhY2slMjB3b3JrZXJ8ZW58MHx8MHx8&w=1000&q=80" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Custom</h5>
           </div>
         </div>
       </div>

     </div>
     <div class="carousel-item">
       <div class="col-md-4">
         <div class="card mb-2">
           <img class="card-img-top" src="images/product-04.jpg" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">Boot Cut</h5>
           </div>
         </div>
         
       </div>
       <div class="col-md-4">
         <div class="card mb-2">
           <img class="card-img-top" src="images/product-05.jpg" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">American Style</h5>
           </div>
         </div>
       </div>
 
       <div class="col-md-4">
         <div class="card mb-2">
           <img class="card-img-top" src="images/item-03.jpg" alt="Card image cap">
           <div class="card-body">
             <h5 class="card-title">English</h5>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>



<router-outlet></router-outlet>