




 
 <h3 style="color:orange; font-weight:bold" align="center">
    Reviews
 </h3>

<div class="container" align="center">
 <div class="row">
   <div class="col-sm-4">
     <div class="card">
       <div class="card-body " style="background-color:rgb(113, 180, 192)">
        
         <img src="https://media.istockphoto.com/photos/portrait-of-a-happy-mature-black-man-picture-id1145046435?k=20&m=1145046435&s=612x612&w=0&h=SrGUTvcym3AF_Hc8tHff5vlLCq7kc66aAK2M8eA3KjQ="height="230" width="230"class="rounded-circle" alt="Cinque Terre">
         <br><br>
         <h6 class="card-title" style="color:orange; font-weight:bold">Eric Kinuthia</h6>
         <p class="card-text" style="color:rgb(41, 29, 85);">I simply created a profile, uloaded my cv and waited. Fortunalty an employer reached inbox. I’m really grateful for this application for the connection </p>
       </div>
     </div>
   </div>
   <div class="col-sm-4">
      <div class="card">
        <div class="card-body" style="background-color:rgb(113, 180, 192)">
         
          <img src="https://media.istockphoto.com/photos/female-team-leader-in-the-office-picture-id1363699620?k=20&m=1363699620&s=612x612&w=0&h=95RFmKMs4GpvSH5PJng8_ALGiKMkLyDON2-tU39FwsA="height="230" width="230"class="rounded-circle" alt="Cinque Terre">
           <br><br>
          <h6 class="card-title" style="color:orange; font-weight:bold">Ninah Odoyo </h6>
          <p class="card-text" style="color:rgb(41, 29, 85);">I simply created a profile, uloaded my cv and waited. Fortunalty an employer reached inbox. I’m really grateful for this application for the connection </p>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body" style="background-color:rgb(113, 180, 192)">
         
          <img src="https://media.istockphoto.com/photos/portrait-of-a-beautiful-senior-black-woman-picture-id1339328033?k=20&m=1339328033&s=612x612&w=0&h=nxuxLnr_wpTCrZ4ahWo63V2WduSpjB6yChmMjdFmQpw="height="230" width="230"class="rounded-circle" alt="Cinque Terre">
           <br><br>
          <h6 class="card-title" style="color:orange; font-weight:bold">Joanna Mutisia </h6>
          <p class="card-text" style="color:rgb(41, 29, 85);">I simply created a profile, uloaded my cv and waited. Fortunalty an employer reached inbox. I’m really grateful for this application for the connection </p>
        </div>
      </div>
    </div>
 </div>
</div>


<br><br><br>
