
<div class="jobseekers" >
    <h2>Jobseekers</h2>

    <ul *ngFor ="let jobseeker of jobseekers" style=" border: 2px solid rgb(151, 50, 67);border-radius:20px;box-shadow: 2px 2px 2px 2px grey;height: 200px;width: 400px;padding-top: 5%;">
       
        <li >
            {{jobseeker.jobseekerId}}
        </li>
        <li >
            {{jobseeker.fullname}}
        </li>
        <li >
            {{jobseeker.image}}
           <img src="" alt=""> 
        </li>
        <li >
            {{jobseeker.gender}}
        </li>
        <li >
            {{jobseeker.resume}}
        </li>
        
    </ul>
</div>