
<div class="container">
    <div class="row">
        <div class=" offset-2 col-md-8 mt-4 bg-orange prof mr-2 ml-2">
            <div class="card" style="border-color: orange; width:40rem;">
                <h2>Add Employer Profile</h2>
            
            
                <form [formGroup]="employerProfileForm" (ngSubmit)="saveEmployerProfileData()">
                    <!-- <div class="mb-3">
                    <label class="form-label">Employer Id</label>
                    <input type="txt" class="form-control" placeholder="Autofilled" formControlName="employerId">
                    </div> 
            
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input type="txt" class="form-control" placeholder="Enter Email" formControlName="name" >
                    </div>  -->
                    <div class="mb-3">
                        <label class="form-label">Name</label>
                        <input type="txt" class="form-control" placeholder="Enter Name" formControlName="name">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input type="txt" class="form-control" placeholder="Organisational Description" formControlName="description">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Contact</label>
                        <input type="txt" class="form-control" placeholder="Contact" formControlName="contact">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Image</label>
                        <input type="txt" class="form-control" placeholder="Upload Image" formControlName="image">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Current Opportunities</label>
                        <input type="txt" class="form-control" placeholder="Available Opportunities" formControlName="current_opportunities">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Employee Benefits</label>
                        <input type="txt" class="form-control" placeholder="List Employee Benefits" formControlName="employee_benefits">
                    </div>
                    
                    <button type="submit" class="btn btn" style="background-color: orange;">Submit</button>
                </form>
            
                <app-update-employerprofile></app-update-employerprofile> 
            
            
                <div class="employerprofile" >
                    <h2>Employer Profile</h2>
            
                    <ul *ngFor ="let employerprofile of employerprofile" style=" border: 2px solid pink;box-shadow: 2px 2px 2px 2px grey;height: 200px;width: 400px;padding-top: 5%;">
                    
                        <li >
                            {{employerprofile.employer.employerId}}
                        </li>
                        <li >
                            {{employerprofile.employer.name}}
                        </li>
                        <li >
                            {{employerprofile.employer.description}}
                        </li>
                        <li >
                            {{employerprofile.employer.contact}}
                        </li>
                        <li >
                            {{employerprofile.employer.image}}
                        </li>
                        <li >
                            {{employerprofile.current_opportunities}}
                        </li>
                        <li >
                            {{employerprofile.employee_benefits}}
                        </li>
            
                    </ul>
                </div>
            
            </div>
        </div>
    </div>
</div>